*{
    margin: 0;
    padding: 0;
}
/* navbar css */
/* Navbar Section */
.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111827;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-section h2 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Nav Links */
.navbar {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: #f3f4f6;
    font-size: 15px;
    transition: 0.3s;
}

.navbar li a:hover {
    color: #4CAF50;
}

/* Hamburger */
.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {

    .navbar {
        position: absolute;
        top: 65px;
        right: 0;
        background: #1f2937;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
        border-radius: 0 0 0 12px;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
}
p{
    color: black;
    text-align: center;
    margin-top: 20px;
}
  
img{
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 70%;
    border: 1px solid black;
}
.button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Hero Section */
.hero-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:60px 10%;
    background: linear-gradient(135deg,#e5e8ec,#9cbff1);
    color:white;
}

.hero-text{
    flex:1;
    min-width:280px;
    text-align:center ;
}

.hero-text h1{
    font-size:40px;
    margin-bottom:10px;
}

.hero-text h2{
    color:#4CAF50;
    margin-bottom:20px;
}

.hero-text p{
    line-height:1.6;
    opacity:0.9;
}

.hero-text button{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    background:#4CAF50;
    color:white;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

.hero-text button:hover{
    background:white;
    color:#111827;
}

.hero-image{
    flex:1;
    text-align:center;
    min-width:280px;
}

.hero-image img{
    width:300px;
    height: 300px;
    border-radius:5px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

/* About Section */
.about-section{
    padding:60px 10%;
    background:white;
    text-align:center;
}

.about-section h2{
    font-size:30px;
    margin-bottom:20px;
    position:relative;
}

.about-section h2::after{
    content:"";
    width:60px;
    height:4px;
    background:#4CAF50;
    display:block;
    margin:10px auto;
    border-radius:2px;
}

.about-section p{
    max-width:700px;
    margin:auto;
    line-height:1.7;
    color:#444;
}

/* Responsive */
@media(max-width:768px){
    .hero-section{
        flex-direction:column;
        text-align:center;
    }
}

/* Skill Section */
.skills-section {
            text-align: center;
            padding: 40px 0;
        }

        .skills-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .skill-card {
            background: #ffffff;
            padding: 20px 40px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            font-size: 18px;
            font-weight: bold;
            transition: 0.3s ease;
            cursor: pointer;
        }

        .skill-card:hover {
            transform: translateY(-8px);
            background: #4CAF50;
            color: white;
        }
    
        /* fotter section */
.footer-section{
    background: linear-gradient(135deg,#111827,#1f2937);
    color:white;
    padding:50px 10%;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}

.footer-col{
    flex:1;
    min-width:220px;
}

.footer-col h3{
    margin-bottom:15px;
    position:relative;
}

.footer-col h3::after{
    content:"";
    width:40px;
    height:3px;
    background:#4CAF50;
    display:block;
    margin-top:8px;
}

.footer-col p,
.footer-col a{
    font-size:14px;
    color:#d1d5db;
    text-decoration:none;
    display:block;
    margin:8px 0;
    transition:0.3s;
}

.footer-col a:hover{
    color:#4CAF50;
    transform:translateX(5px);
}

.social-icons{
    margin-top:15px;
}

.social-icons a{
    display:inline-block;
    margin-right:10px;
    font-size:18px;
    color:white;
    background:#374151;
    padding:10px;
    border-radius:50%;
    transition:0.3s;
}

.social-icons a:hover{
    background:#4CAF50;
    transform:translateY(-5px);
}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.2);
    font-size:13px;
    color:#9ca3af;
}

/* Responsive */
@media(max-width:768px){
    .footer-container{
        flex-direction:column;
        text-align:center;
    }
}
